<div class="container text-center fix_padding_navbar_bottom">

  <div class="banner">
    <%= image_tag "logo.png" %>
    <h2>Edit your information</h2>
  </div>

  <div class="form-content ">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="form-inputs">
      <%= f.error_notification %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>

      <%= f.input :password,
                  required: true,
                  hint: "MANDATORY to confirm any of your changes",
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :password_confirmation,
                  required: true,
                  hint: "MANDATORY to confirm any of your changes",
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :current_password,
                hint: "MANDATORY to confirm any of your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>

      <%= f.input :first_name,
                  required: true %>

      <%= f.input :last_name,
                  required: true %>

      <%= f.input :photo,
                  as: :file,
                  label_html: { class: 'upload-photo'},
                  label: 'My photo' %>

      <%= f.input :phone_number,
                  required: true %>

      <%= f.input :description %>
      <%= f.input :birth_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker", datepicker_target: "date" } }%>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= link_to "Change my password", edit_user_password_path %>
  </div>

  <div>
    <%= link_to "Cancel your account", user_registration_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure? It is irreversible" }, class: "btn delete-button-dog" %>
  </div>

  <div class="mt-2">
    <%= link_to "Back", dashboard_path %>
  </div>

</div>
