<div class="fix_padding_navbar_bottom">
  <div class="d-flex justify-content-center container banner">
    <%= image_tag "logo.png" %>
  </div>
  <h2 class="text-center">Messaging</h2>
    <% if @bookings.empty? %>
      <div class="empty-container">
          <h2><em>
          You have no message yet !
          </em>
          </h2>
      </div>
    <% else %>
  <% @bookings.each do |booking| %>
    <%= link_to discussion_walk_path(booking.walk) do %>
      <div class="d-flex container-messages">
        <div class="avatar-name-messagerie">
          <%= cl_image_tag booking.walk.user.photo.key %>
        </div>
        <div class="info-message">
          <h2><%= booking.walk.user.first_name %> <em>& <%= booking.walk.user.dogs.first.name %></em></h2>
          <p><em><%= booking.walk.messages.last&.content %></em></p>
        </div>
        <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <i class="fa-solid fa-trash-can"></i>
        <% end %>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
