<div class="">
  <%= simple_form_for(current_user, url: user_registration_path, html: { method: :put }) do |f| %>
    <%= f.error_notification %>
        <%= f.simple_fields_for :dogs do |ff| %>
        <%= ff.input :name %>
        <%= ff.input :description %>
        <%= ff.input :birth_date %>
        <%= ff.input :constraint%>
        <%= ff.input :picture %>
        <%= ff.input :fun_fact %>
        <%= ff.input :size %>
        <%= ff.input :breed_id %>
      <% end %>
    </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<!-- Add all the fields into the form after -->
<%# <%= simple_form_for(dog) do |f| %>
  <%# <!-- [...] --> %>
  <%# <%= f.input :photo, as: :file %>
  <%# <!-- [...] --> %>
<%# <% end %>
