<!-- Add all the fields into the form after -->
<%# <%= simple_form_for(walk) do |f| %>
  <%# <!-- [...] --> %>
  <%# <%= f.input :photo, as: :file %>
  <%# <!-- [...] --> %>
<%# <% end %>

<%= simple_form_for @walk do |f| %>
  <div class="form-inputs">
    <%= f.input :starting_point, label: false, placeholder: "From" %>
    <%= f.input :duration, label: false, placeholder: "timing" %>
    <%= f.input :start_time, as: :string, input_html: { data: { controller: "datepicker", datepicker_min_date_value: "today" } } %>
    <%= f.input :difficulty, label: false, placeholder: "level" %>
    <%= f.input :description, label: false, placeholder: "description" %>
    <%= f.input :frequency, label: false, placeholder: "frequency" %>
    <%= f.input :number_of_participant, label: false, placeholder: "number of participant"%>
    <% if local_assigns[:for_walk] %>
    <%= f.submit class: "btn btn-outline-primary" %>
    <% else %>
    <%= f.submit class: "btn btn-outline-warning" %>
    <% end %>
  </div>
<% end  %>
