<%= simple_form_for (@walk) do |f| %>
  <div class="form-inputs fix_padding_navbar_bottom">
    <%= f.input :name, label: false, placeholder: "Name of your walk" %>
    <%= f.input :starting_point, placeholder: "From"%>

    <%= f.input :duration,
                as: :radio_buttons,
                input_html: { class: "tag-selector bg-dark" },
                item_wrapper_class: 'tag-item',
                collection: Walk::DURATIONS%>

    <%= f.input :start_time, as: :string, input_html: { data: { controller: "datepicker", datepicker_min_date_value: "today" } } %>

    <%= f.input :difficulty,
                as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                collection: Walk::DIFFICULTIES%>

    <%= f.input :description, label: false, placeholder: "Description" %>

    <%= f.input :frequency,
                as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                collection: Walk::FREQUENCIES%>

    <%= f.input :number_of_participant,
                as: :radio_buttons,
                label: "Number of participant(s) ",
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                collection: Walk::PARTICIPANTS%>
    <% if local_assigns[:for_walk] %>
    <%= f.button :submit, "Publish", class: "btn create-button" %>
    <% else %>
    <%= f.button :submit, "Update", class: "btn create-button" %>
    <% end %>
  </div>
<% end  %>
