<!-- Add all the fields into the form after -->

<%= simple_form_for @dog do |f| %>

  <div class="form-inputs fix_padding_navbar_bottom">
    <%= f.error_notification %>
    <%= f.input :name,
                placeholder: "Your dog's name" %>

    <%= f.error :name %>

    <%= f.input :description,
                placeholder: "Your dog's description ðŸ¶" %>

    <%= f.input :birth_date,
                as: :string,
                input_html: { data: { controller: "datepicker", datepicker_target: "date" } } %>

      <%= f.input :photo,
                  as: :file,
                  label_html: { class: 'upload-photo'},
                  label: "My dog's photo" %>

    <%= f.input :constraint, placeholder: "Your dog's constraint" %>

    <%= f.input :fun_fact, placeholder: "Your dog's fun fact" %>

    <%= f.input :size,
                as: :radio_buttons,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                collection: Dog::SIZES%>

    <%= f.association :breed,
                      collection: Breed.all,
                      input_html: { data: { controller: "autocomplete" } } %>

    <div class="form-actions">
      <%= f.button :submit, "Save" %>
    </div>

    <div class="mt-2">
      <%= link_to "Back", dashboard_path %>
    </div>

  </div>
<% end %>
