<div class="navbar-bottom">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <%= link_to walks_path do %>
    <i class="fa-solid fa-magnifying-glass"></i>
  <% end %>
  <%= link_to new_walk_path do %>
    <i class="fa-solid fa-circle-plus"></i>
  <% end %>
  <%= link_to '#' do %>
    <i class="fa-solid fa-comment"></i>
  <% end %>
  <%= link_to dashboard_path do %>
    <i class="fa-solid fa-shield-dog"></i>
  <% end %>
</div>
