<div class="navbar-bottom" data-controller="highlight">

  <%= link_to root_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-house"></i>
    </div>
  <% end %>
  <%= link_to walks_path do %>
  <div class="tab-current">
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>
  <% end %>

<% if user_signed_in? %>
  <%= link_to new_walk_path do %>
    <div class="tab-current add-new-walk">
      <i class="fa-solid fa-circle-plus"></i>
    </div>
  <% end %>
  <%= link_to bookings_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-comment"></i>
    </div>
  <% end %>
  <%= link_to dashboard_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-shield-dog"></i>
    </div>
  <% end %>
<% end %>
</div>
