
<%= simple_form_for (@dog) do |f| %>
  <div class="form-inputs">
    <%= f.input :name, placeholder: "My dog's name" %>
    <%= f.input :description, placeholder: "My dog's description" %>
    <%= f.input :birth_date %>
    <%= f.input :constraint, placeholder: "My dog's constraint" %>
    <%= f.input :fun_fact, placeholder: "My dog's fun fact" %>
    <%= f.input :size, collection: Dog::SIZES %>
    <%= f.association :breed, collection: Breed.all.pluck(:content) %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: "btn btn-outline-secondary" %>
  </div>
<% end  %>
