  <div class="d-flex walk-card-home">
    <% random_walks = @walks.sample(5) %>
      <% random_walks.each do |random_walk|%>
      <%= link_to(walk_path(random_walk)) do %>
      <!-- WALK CARD -->
        <div class="walk-card">
          <div class="container-dog-photo">
            <%= cl_image_tag random_walk.user.dogs.first.photo.key %>
            <div class="walk-card-stickers">
              <p><i class="fa-solid fa-hourglass-start"></i> <%= random_walk.duration %></p>
            </div>
          </div>
          <div class="walk-card-content">
            <div class="card-head">
              <div class="avatar-name">
                <%= cl_image_tag random_walk.user.photo.key %>
                <div class="d-flex">
                  <h2><%= random_walk.user.dogs.first.name %></h2>
                  <p class="dog-name"><em>& <%= random_walk.user.first_name %></em></p>
                </div>
              </div>
            </div>
            <div class="info-walk-card">
              <p class="info-walk-address"><i class="fa-solid fa-location-pin"></i> <%= random_walk.starting_point %></p>
              <p><i class="fa-regular fa-clock"></i> <%= random_walk.start_time.strftime("%e/%m - %H:%M") %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
