<div class="container walks-card">
  <% @walks.each do |walk| %>
    <div class="walk-card">
      <div class="card-head d-flex justify-content-between">
        <img src="<%= walk.user.avatar %>"> <%= walk.user.first_name %>
        <p><i class="fa-solid fa-hourglass-start"></i> <%= walk.duration %>min</p>
      </div>
      <p><i class="fa-solid fa-location-pin"></i> <%= walk.starting_point %></p>
      <p><i class="fa-regular fa-clock"></i> <%= walk.start_time %></p>
    </div>
  <% end %>
</div>
