
    <p><%= image_tag current_user.avatar, class: "avatar" %></p>

    <p><%= current_user.first_name %> <%= current_user.last_name %></p>
    <p><%= link_to "Modifier le profil", dashboard_path(section: 'my profile') %> </p>


    <div class="onglets">
      <div style="padding-bottom: 1em;">
      <%= link_to "My future walks", dashboard_path(section: 'my future walks') %>
      </div>
      <div style="padding-bottom: 1em;">
      <%= link_to "My bookings", dashboard_path(section: 'bookings') %>
      </div>
      <div style="padding-bottom: 1em;">
      <%= link_to "My booking requests", dashboard_path(section: 'bookings request') %>
      </div>
    </div>

<%= render "shared/user_and_dogs_form" %>
