<div class= "fix_padding_navbar_bottom" >

  <div class="profile-icone-head">
    <!-- PHOTO CURRENT USER -->
    <%= link_to edit_user_registration_path do %>
      <% if current_user.photo.attached? %>
        <p><%= cl_image_tag current_user.photo.key, class: "avatar profile" %></p>
      <% else %>
        <p><%= image_tag "logo_without_user.png", class: "avatar profile" %></p>
      <% end %>
    <% end %>
    <!-- PHOTO DE SON CHIEN -->
    <% if current_user.dogs.first.nil? %>
      <%= link_to new_dog_path do %>
        <p><%= image_tag "logo_without_dog.png", class: "avatar dog" %></p>
      <% end %>
    <% elsif current_user.dogs.first != nil && current_user.dogs.first.photo.attached? %>
      <%= link_to edit_dog_path(current_user.dogs.first.id) do %>
        <p><%= cl_image_tag current_user.dogs.first.photo.key, class: "avatar dog" %></p>
      <% end %>
    <% else %>
      <%= link_to edit_dog_path(current_user.dogs.first.id) do %>
        <p><%= image_tag "logo_without_dog.png", class: "avatar dog" %></p>
      <% end %>
    <% end %>
  </div>

  <!-- NOM CURRENT USER & DE SON CHIEN -->
  <div class="user-info-dashboard d-flex">
      <% if current_user.has_a_dog? %>
        <h2 class="dashboard-name"><%= "#{current_user.first_name} & #{current_user.dogs.first.name}"%></h2>
      <% else %>
      <p class="dashboard-name"> <%= "#{current_user.first_name}"%></p>
      <% end %>
  </div>

  <!-- INFOS DU CURRENT USER BOOKINGS & WALKS -->
  <div class="timeline">
    <div class="t-outer">
      <% @dashboard_walks.uniq.each do |walk| %>
        <p class="px-4 mb-0"> <%= walk.start_time.strftime("%e/%m - %H:%M") %> </p>
        <!-- CARDS-->
        <%= link_to walk_path(walk) do %>
          <div class="t-card">
            <div class="t-info">
              <!-- PHOTO DU CHIEN -->
              <div class="t-info-dog-pic">
                <% if walk.user.dogs.first == nil %>
                  <%= image_tag "logo_without_dog.png", class: "avatar dog" %>
                <% elsif walk.user.dogs.first != nil && walk.user.dogs.first.photo.attached? %>
                  <%= cl_image_tag walk.user.dogs.first.photo.key%>
                <% else %>
                    <%= image_tag "logo_without_dog.png", class: "avatar dog" %>
                <% end %>
              </div>
              <!-- PHOTO DU PROPRIETAIRE -->
              <div class="avatar-dashcard">
                <% if walk.user.photo.attached? %>
                  <%= cl_image_tag walk.user.photo.key%>
                <% else %>
                  <%= image_tag "logo_without_user.png" %>
                <% end %>
                <!-- INFOS DE TYPE TEXTE -->
                <div class="py-2 pe-1">
                  <h3 class="title"> <%= walk.name %> </h3>
                  <p><em><%= walk.starting_point %></em></p>
                  <p> <strong><%= walk.duration %> <%= walk.user == current_user ? "& " + walk.frequency : "" %> </strong> </p>
                </div>
                <!-- SUPPRESSION DE LA WALK OU DU BOOKING -->
                <div class="trash-dashboard">
                  <% if walk.user == current_user %>
                    <%= link_to walk_path(walk), data: { turbo_method: :delete, turbo_confirm: "Do you really want to delete your walk?" } do %>
                      <i class="fa-solid fa-trash-can", style="color: #5C6CFF"></i>
                    <% end %>
                  <% else %>
                    <% booking = walk.bookings.find_by(user: current_user) %>
                    <% if booking.present? %>
                      <%= link_to booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Do you really want to delete this booking?" } do %>
                        <i class="fa-solid fa-trash-can", style="color: #5C6CFF"></i>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <p class="text-center"><em>Waiting for other walks</em></p>
  </div>

  <!-- DECONNEXION -->
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
      <p><%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
        <i class="fa-solid fa-power-off"></i>
      <% end %></p>
    </div>
  </div>
</div>

<!-- SWEETALERT -->
<% case %>
<% when @created_walk %>
  <span
    data-controller="sweetalert"
    data-sweetalert-title-value="Well done!",
    data-sweetalert-text-value="Your walk is created",
    data-sweetalert-icon-value="success",>
  </span>
<% when @created_booking %>
  <span
    data-controller="sweetalert"
    data-sweetalert-title-value= "Well done!",
    data-sweetalert-text-value= "Your booking is created",
    data-sweetalert-icon-value="success",>
  </span>
<% end %>
