<!-- IMAGE DE BACKGROUND -->
<div class= "img-welcome">
  <div class="static-background-image">
    <%= image_tag "static_background_image.png" %>
  </div>
  <div class="mithosis-yellow">
    <%= image_tag "mithosis_yellow.png" %>
  </div>
  <div class="mithosis-black">
    <%= image_tag "mithosis_black.png" %>
  </div>
</div>
<!--  TITRE ET DESCRIPTION -->
<div class="welcome-title">
  <h1>DogOurs</h1>
  <h3>Never walk your dog alone again</h3>
</div>
<!-- BOUTON DISCOVER -->
<div class="wrapper-welcome-button">
  <div class="cadre-jaune">
    <div class="cadre-violet">
      <div class="cadre-noir">
        <% if user_signed_in? %>
          <%= link_to "Discover", home_path %>
        <% else %>
          <%= link_to "Discover", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
