<%= link_to walk_path(walk), class: "info-window-content" do %>
      <div class="walk-card">
        <div class="container-dog-photo">
         <% if walk.user.dogs.first != nil && walk.user.dogs.first.photo.attached? %>
          <%= cl_image_tag walk.user.dogs.first.photo.key %>
            <%= cl_image_tag walk.user.dogs.first.photo.key %>
          <% else %>
            <%= image_tag "logo_without_dog.png" %>
          <% end %>

        <div class="walk-card-content">
          <div class="card-head">
              <div class="avatar-name-info">
                <div class="d-flex">
                 <% if walk.user.dogs.first != nil %>
                  <h2><%= walk.user.dogs.first.name %></h2>
                  <p class="dog-name"><em>& <%= walk.user.first_name %></em></p>
                  <% end %>
                </div>
              </div>

          </div>
          <div class="info-walk-card">
            <p><i class="fa-solid fa-location-pin"></i> <%= walk.starting_point %></p>
            <p><i class="fa-regular fa-clock"></i> <%= walk.start_time.strftime("%e/%m - %H:%M") %></p>
          </div>
        </div>
      </div>
<% end %>
