<div class="banner-index">
  <button class="back-arrow"><i class="fa-solid fa-arrow-left"></i></button>
  <div class="d-flex justify-content-center">
    <h2>Walk details</h2>
  </div>
</div>
<div class="container">
  <div class="show-content">
    <div class="avatar-name">
      <img src="<%= @walk.user.avatar %>"> <%= @walk.user.first_name %>
    </div>
    <div class="principals-info d-flex">
      <div class="dog-pic col-5">

      </div>
      <div class="info-walk col-7">
        <p><i class="fa-solid fa-location-pin"></i> <%= @walk.starting_point %></p>
        <p><i class="fa-regular fa-clock"></i> <%= @walk.start_time %></p>
        <p><i class="fa-solid fa-hourglass-start"></i> <%= @walk.duration %>min</p>
      </div>
    </div>
    <div class="info-dog">
      <p><i class="fa-solid fa-ruler-vertical"></i></p>
      <p><i class="fa-solid fa-dog"></i></p>
    </div>
    <div class="walk-description">
      <p><%= @walk.description %></i></p>
      <br>
      <p><em>Fun fact :</em></p>
    </div>
    <div class="map-vision">
      <div class="d-flex justify-content-center">
        <div>
         <%= simple_form_for [@walk, @booking] do |f|  %>
         <div class="btn btn-secondary btn-lg me-4">
         <%= f.button :submit %>
         </div>
         <% end %>
          <%# <%= link_to "Join", dashboard_path, class:"btn btn-secondary btn-lg me-4" %>
        </div>
        <div>
        <%= link_to "MESSAGE", discussion_walk_path(@walk), class: "btn btn-outline-dark btn-lg" %>
        </div>
      </div>
      <h2>See on the map</h2>
    </div>
  </div>
  <div id="map-container" class="rounded shadow map_integration"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    <%= @markers %>
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<% if policy(@walk).edit? %>
<div>
  <%= link_to "Edit", edit_walk_path, class: "btn btn-outline-warning"%>
</div>
<% end %>
<% if policy(@walk).destroy? %>
<div>
  <%= link_to walk_path(@walk), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-outline-danger" do  %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
<% end %>
