<div class="banner-index">
<%= link_to session[:history].reverse.find{ |path| path == "/walks" || path == "/dashboard" } do %>
  <button class="back-arrow-show"><i class="fa-solid fa-arrow-left"></i></button>
<% end %>
  <!-- PHOTO DU CHIEN -->
  <% if @walk.user.dogs.first != nil && @walk.user.dogs.first.photo.attached? %>
    <div class="d-flex justify-content-center dog-pic">
      <%= cl_image_tag @walk.user.dogs.first.photo.key %>
    </div>
    <p><i class="fa-solid fa-hourglass-start"></i> <%= @walk.duration %></p>
  <% else %>
    <div class="d-flex justify-content-center dog-pic">
        <%= image_tag "logo_without_dog.png" %>
    </div>
    <p><i class="fa-solid fa-hourglass-start"></i> <%= @walk.duration %></p>
  <% end %>
</div>

<div class="container">
  <div class="show-content">
   <!-- AVATAR PROPRIETAIRE -->
    <% if @walk.user.photo.attached? %>
      <div class="avatar-name-show avatar-name d-flex">
        <%= cl_image_tag @walk.user.photo.key %>
      </div>
    <% else %>
      <div class="avatar-name-show avatar-name d-flex">
        <%= image_tag "logo_without_user.png" %>
      </div>
    <% end %>
    <!-- NOM CHIEN ET PROPRIETAIRE -->
    <div class="name-dog-owner">
    <% if @walk.user.dogs.first != nil %>
      <h2><%= @walk.user.dogs.first.name %></h2>
      <p class="px-1"><em>& <%= @walk.user.first_name %></em></p>
    <% end %>
    </div>
    <!-- INFO DOG -->
    <div class="info-dog justify-content-between">
      <div class="info-doggy d-flex">
      <% if @walk.user.dogs.first != nil %>
        <p class="dog-size"><i class="fa-solid fa-ruler-vertical"></i> <%= @walk.user.dogs.first.size %></p>
        <p class="dog-breed"><i class="fa-solid fa-dog"></i> <%= @walk.user.dogs.first.breed.content %></p>
      </div>
      <% end %>
      <div class="d-flex align-items-center justify-content-end">
        <div class="icon-style">
          <% if policy(@walk).edit? %>
            <%= link_to edit_walk_path do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
        </div>
        <% if policy(@walk).destroy? %>
        <div class="icon-style">
          <%= link_to walk_path(@walk), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do  %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <!-- INFO WALK -->
    <div class="principals-info d-flex">
      <div class="info-walk">
        <p><i class="fa-solid fa-location-pin"></i> <%= @walk.starting_point %></p>
        <p><i class="fa-regular fa-clock"></i> <%= @walk.start_time.strftime("%e/%m - %H:%M") %></p>
        <div class="d-flex justify-content-between">
          <p><i class="fa-solid fa-people-arrows"></i> <%= @walk.number_of_participant %></p>
          <p><i class="fa-solid fa-bolt"></i> <%= @walk.difficulty %></p>
        </div>
      </div>
    </div>
    <!-- WALK DESCRIPTION -->
    <div class="walk-description">
      <p class="name-walk"><%= @walk.name %></p>
      <p><%= @walk.description %></i></p>
       <% if @walk.participants.any? %>
        <div class="d-flex align-items-center justify-content-start">
          <% @walk.participants.where.not(id: @walk.user.id).each do |participant| %>
            <% if participant.bookings.find_by(walk: @walk).status == 'pending' %>
              <div class="d-flex flex-column align-items-center justify-content-center pe-3">
                <%= cl_image_tag participant.photo.key, class:"avatar border-success-avatar" %>
                <p><%= participant.first_name %></p>
              </div>
            <% else %>
              <div class="d-flex flex-column align-items-center justify-content-center pe-3">
                <%= cl_image_tag participant.photo.key, class:"avatar", style:"opacity:50%" %>
                <p style="opacity:50%"><%= participant.first_name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- BOOKING REQUEST BUTTON -->
    <div class="d-flex justify-content-center">
      <div class="wrapper-bkrequest-button">
        <div class="cadre-jaune-on-show">
          <div class="cadre-violet-on-show">
            <div class="cadre-noir-on-show">
              <% if @booking %>
                <%= link_to "DISCUSSION", discussion_walk_path(@walk) %>
              <% else %>
                <%= button_to "BOOKING", walk_bookings_path(@walk) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MAP -->
  <div class="map-vision">
  </div>
  <div id="map-container" class="rounded shadow map_integration"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    <%= @markers %>
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
